@import url('https://fonts.googleapis.com/css?family=Inconsolata|Abel');

#counter-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  max-width: 20em;
  margin: 0.5em auto;
  text-align: center;
  font-family: "Abel";
  font-size: 2em;
}

.counter-block {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-column-gap: 0em;
  padding: 0.3em 0em;
  margin: 0.3em;
  background-color: #151515;
  color: white;
  border-radius: 0.2em;
}

.counter-value {
  font-size: 2.3em;
  margin: 0 0.1em;
  font-family: "Inconsolata", monospace;
}

.counter-description {
  font-size: 0.8em;
}
